<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ - Cao Văn Nhân</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-links">
            <a href="../index.html">Trang Chủ</a>
            <a href="about-me.html">Giới Thiệu</a>
            <a href="my-product.html">Dự Án</a>
            <a href="contact.html" class="active">Liên Hệ</a>
        </div>
    </nav>

    <div class="contact-container">
        <h1>Liên Hệ Với Tôi</h1>
        <h3>Rất vui khi nhận được phản hồi từ bạn. Hãy liên hệ với tôi nếu bạn có cơ hội hợp tác, lời mời phỏng vấn hoặc bất kỳ câu hỏi nào liên quan đến công việc.</h3>
        <div class="contact-info-section">
            <div class="contact-info-item">
                <i class="fa-solid fa-phone"></i>
                <h3>Điện Thoại</h3>
                <p>0389073571</p>
            </div>
            
            <div class="contact-info-item">
                <i class="fa-solid fa-envelope"></i>
                <h3>Email</h3>
                <p>cvnhan158203@gmail.com</p>
            </div>

            <div class="contact-info-item">
                <i class="fa-solid fa-location-dot"></i>
                <h3>Địa Chỉ</h3>
                <p>Quận Gò Vấp, TP.HCM</p>
            </div>
        </div>

        <div class="about-content">
            <section class="about-section">
                <h2>Sở Thích Cá Nhân</h2>
                <ul>
                    <li>Cầu Lông</li>
                    <li>Du Lịch</li>
                    <li>TeamBuilding</li>
                    <li>Chơi game chiến thuật</li>
                    <li>Nghe nhạc</li>
                </ul>
            </section>

            <section class="about-section">
                <h2>Hoạt Động</h2>
                <p>Tên tổ chức: CLB Cầu Lông trường Đại Học Gia Định-GDU Badminton Club-GBC </p>
                <p>Bắt đầu: 2022 - Kết thúc: 2025</p>
                <p>Vị trí của bạn: Thành Viên</p>
            <ul>
                <li>GBC là CLB Cầu Lông cho Sinh viên trường Đại Học Gia Định</li>
            </ul>
            </section>
        </div>
    </div>
</body>
</html>